.box {
    min-width: 20em;
    padding: 3em 3em 3em 3em;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.item {
    margin: 0.3em 1em;
    border: 1px solid black;
    padding: 0.2em 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: none;
}

.item a {
    color: inherit !important;
    text-decoration: none;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
}