@import "./pallete.css";

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.chip {
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    margin: 0.1em 0.3em;
}

.chip-inverted {
    padding: 0.25em 0.5em;
    border-radius: 10px;
    border: 1px solid var(--primary-color-dark);
    margin: 0.1em 0.3em;
}