@import "./sizes.css";

/* Miniscule */

.left-miniscule {
    margin-left: var(--miniscule);
}

/* Extra Small  */

.vertical-extra-small {
    margin-top: var(--extra-small);
    margin-bottom: var(--extra-small);
}

.top-extra-small {
    margin-top: var(--extra-small);
}

/* Small */

.top-small {
    margin-top: var(--small);
}

.right-small {
    margin-right: var(--small);
}

.bottom-small {
    margin-bottom: var(--small);
}

.left-small {
    margin-left: var(--small);
}

/* Medium */

.top-medium {
    margin-top: var(--medium);
}

.right-medium {
    margin-right: var(--medium);
}

.bottom-medium {
    margin-bottom: var(--medium);
}

.left-medium {
    margin-left: var(--medium);
}

/* Remove */

.horizontal-remove {
    margin-left: 0;
    margin-right: 0;
}

.vertical-remove {
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-remove {
    margin-bottom: 0;
}