.top-small {
    margin-top: 1.5em;
}

.right-small {
    margin-right: 1.5em;
}

.bottom-small {
    margin-bottom: 1.5em;
}

.left-small {
    margin-left: 1.5em;
}

.top-medium {
    margin-top: 3em;
}

.right-medium {
    margin-right: 3em;
}

.bottom-medium {
    margin-bottom: 3em;
}

.left-medium {
    margin-left: 3em;
}

.vertical-extra-small {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.top-extra-small {
    margin-top: 0.5em;
}

.horizontal-remove {
    margin-left: 0;
    margin-right: 0;
}

.vertical-remove {
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-remove {
    margin-bottom: 0;
}