.horizontaleratorinator-smaller {
    margin: 2em auto;
    max-width: 30em;
}

.horizontaleratorinator-3000 {
    margin: 2em auto;
    max-width: 60em;
}

.verticalizerinator-9001 {
    display: flex;
    align-items: center;
}

.stretchinerino-vertical {
    height: 100vh;
}

.two-column-container {
    display: grid;
    grid-template: auto / 50% 50%;
}

.unbalanced-two-column-container {
    display: grid;
    grid-template: auto / 70% auto;
}